
body{
  text-align: center;
  background-color: #F8F7DE;
}
h1{
  color:#A2416B;
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  }

  h2{
    padding-top: 50px;
    font-family: 'Lobster', cursive;
    color :#A2416B;
  }
.dice{
  display:inline-block;
  text-align: center;
}
.img{
  width:80%;
}

footer {
  margin-top: 5%;
  color: #A2416B;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
